<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.fingerprint">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".profile" />
        <activity android:name=".course_outline" />
        <activity android:name=".com402" />
        <activity android:name=".com403" />
        <activity android:name=".com405" />
        <activity android:name=".studentcom402" />
        <activity android:name=".studentcom403" />
        <activity android:name=".studentcom405" />
        <activity android:name=".attendance_402" />
        <activity android:name=".attendance_403" />
        <activity android:name=".attendance_405" />
    </application>

</manifest>